In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('olympics.csv')

df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [3]:
import pandas as pd
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)        
for col in df.columns:
    
    if col[:2]=='01':
        print (col)
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        #print (col)
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)
names_ids = df.index.str.split('\s\(') # split the index by '('
df.index = names_ids.str[0] # the [0] element is the country name (new index)
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take fi
df = df.drop('Totals')
df.head()

01 !
01 !.1
01 !.2

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [4]:
def first_country():
    return df.iloc[0]

In [5]:
first_country()

№ Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
№ Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
№ Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [6]:
def answer_one():
    max_gold = np.max(df['Gold'])
    country_max_gold = df.loc[df['Gold']== max_gold]
    return str(country_max_gold.index)

In [7]:
answer_one()

"Index(['United States'], dtype='object')"

In [8]:
def answer_two():
    max_diff = np.max(df['Gold']-df['Gold.1'])
    print(df.where((df['Gold']-df['Gold.1']) == max_diff ).dropna())
    country_max_diff = df.where((df['Gold']-df['Gold.1']) == max_diff ).dropna()
    return str(country_max_diff.index)

In [9]:
answer_two()

               № Summer   Gold  Silver  Bronze   Total  № Winter  Gold.1  \
United States      26.0  976.0   757.0   666.0  2399.0      22.0    96.0

               Silver.1  Bronze.1  Total.1  № Games  Gold.2  Silver.2  \
United States     102.0      84.0    282.0     48.0  1072.0     859.0

               Bronze.2  Combined total   ID
United States     750.0          2681.0  USA

"Index(['United States'], dtype='object')"

In [10]:
def answer_three():
    
   
    only_gold = df[(df['Gold']>0) & (df['Gold.1']>0)]
    #print(only_gold)
    diff_gold = only_gold['Gold']-only_gold['Gold.1']
    total_gold = only_gold['Gold']+only_gold['Gold.1']
    mean_gold = diff_gold/total_gold
    #print(mean_gold)
    max_mean = np.max(mean_gold)
    print(max_mean)
    country_max_mean = only_gold.where(mean_gold == max_mean).dropna()
    return str(country_max_mean.index)
    #countries_with_gold = df1.loc[(df1.Summer > 0) & (df1.Winter>0)]
    #print(countries_with_gold)

In [11]:
answer_three()

0.9615384615384616

"Index(['Bulgaria'], dtype='object')"

In [12]:
def answer_four():
    
    points=pd.Series(np.zeros(146, dtype = int),index=df.index)

    #print(df.loc['Afghanistan'])
    for row_index,row in df.iterrows():
        if(row['Gold.2']) > 0:
            points.loc[row_index]=(3*row['Gold.2'])
        if(row['Silver.2']) > 0:
            points.loc[row_index]=(2*row['Silver.2'])
        if(row['Bronze.2']) > 0:
            points.loc[row_index]=(1*row['Bronze.2'])
    
    return(points)

In [13]:
answer_four()

Afghanistan                           2
Algeria                               8
Argentina                            28
Armenia                               9
Australasia                           5
Australia                           181
Austria                             116
Azerbaijan                           15
Bahamas                               5
Bahrain                               1
Barbados                              1
Belarus                              44
Belgium                              56
Bermuda                               1
Bohemia                               3
Botswana                              2
Brazil                               55
British West Indies                   2
Bulgaria                             81
Burundi                               3
Cameroon                              1
Canada                              173
Chile                                 4
China                               145
Colombia                             11
Costa Rica                            2
Ivory Coast                           2
Croatia                              11
Cuba                                 70
Cyprus                                2
                                   ...
Spain                                36
Sri Lanka                             4
Sudan                                 2
Suriname                              1
Sweden                              230
Switzerland                         113
Syria                                 1
Chinese Taipei                       12
Tajikistan                            2
Tanzania                              4
Thailand                             11
Togo                                  1
Tonga                                 2
Trinidad and Tobago                  11
Tunisia                               4
Turkey                               24
Uganda                                2
Ukraine                              59
United Arab Emirates                  3
United States                       750
Uruguay                               6
Uzbekistan                           10
Venezuela                             8
Vietnam                               4
Virgin Islands                        2
Yugoslavia                           29
Independent Olympic Participants      2
Zambia                                1
Zimbabwe                              1
Mixed team                            4
Length: 146, dtype: int64

In [14]:
census_df = pd.read_csv('census.csv')
census_df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [15]:
census_df['STNAME'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [16]:
(census_df.STNAME == 'Alaska').sum()

30

In [17]:
def answer_five():
    #state_index=census_df.where(census_df['SUMLEV']==40).dropna()
    
    #print(state_index.head())
    #for row_index,row_value in state_index.iterrows():
    
    state_names=pd.Series(census_df['STNAME'].unique())
    #print(state_names)
    counties=pd.Series(np.zeros(shape=50),dtype=int)
    #print(counties)
    for row_index,row_value in state_names.iteritems():
        counties.set_value(row_index, (census_df.STNAME == row_value).sum())
        #counties.update((census_df.STNAME == 'row_value').sum())
        #print(counties)
    max_value = np.max(counties)
    #print(max_value)
    state_index=counties[counties==max_value].index
    state_max_county = state_names.loc[state_index]
    return str(state_max_county)

In [18]:
answer_five()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':

'43    Texas\ndtype: object'

In [19]:
def answer_six():
    sorted_df=census_df.sort_values("CENSUS2010POP", axis = 0, ascending = False, 
                  na_position ='last').head(3)
    three_most_populated=[]
    
    for row_index,row_value in sorted_df.iterrows():
        
        
        three_most_populated.append(row_value['STNAME'])
        #print(three_most_populated)
    print(three_most_populated)

In [20]:
answer_six()

['California', 'Texas', 'New York']

In [51]:
def answer_seven():
    
    population_df=census_df[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
                            'POPESTIMATE2014','POPESTIMATE2015']].copy()
    
    pop_diff=pd.Series(np.zeros(shape=len(census_df)),dtype=int)
    #print(population_df.head(3))
    for row_index,row_value in population_df.iterrows():
        pop_diff.set_value(row_index,np.max(row_value)-np.min(row_value))
    max_diff=np.max(pop_diff)
    max_index=pop_diff[pop_diff==max_diff].index
    pop_max_county = census_df.loc[max_index]
    return str(pop_max_county['CTYNAME'])

In [52]:
answer_seven()

   POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
0          4785161          4801108          4816089          4830533
1            54660            55253            55175            55038
2           183193           186659           190396           195126

   POPESTIMATE2014  POPESTIMATE2015
0          4846411          4858979
1            55290            55347
2           199713           203709

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

'2566    Texas\nName: CTYNAME, dtype: object'

In [95]:
def answer_eight():
    sort_df=census_df.where(((census_df['REGION']==1) | (census_df['REGION']==2))
                            & (census_df['CTYNAME']=='Washington County') 
                            & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014'])).dropna()
    final_df=sort_df[['STNAME', 'CTYNAME']].copy()
    print(final_df.head())

In [96]:
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County