Pandas - It is a open source library, used as a data manipulation & analysis tool for Python

Series

It is a primary data structure in Pandas.
It is a one-dimensional labeled array capable of holding any data type.

Series Creation

Parameters - data, index, name, dtype, copy

In [30]:
import pandas as pd

# Creating Series using list of numbers
numbers = [1,2,3,4,5]
s1=pd.Series (numbers, dtype=float) #changing its data type from int to float
print(s1)

s4 = pd.Series(s1, copy=True) #creating a deep copy.
print(s4)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [16]:
animals = ['Tiger', 'Kangaroo', 'Cat']
s2 = pd.Series(animals, index = range(1,4)) #Giving explicit index value.

print(s2)

1       Tiger
2    Kangaroo
3         Cat
dtype: object

In [12]:
animals = ['Tiger', 'Kangaroo', None]
s2 = pd.Series(animals) #including 'None' objects in the data set

print(s2)

0       Tiger
1    Kangaroo
2        None
dtype: object

In [14]:
numbers = [1,2,3,4,None]
s1 = pd.Series (numbers) #including 'None' objects in the data set
print(s1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [15]:
sports = {'cricket': 'England', 'Hockey': 'India', 'Golf': 'Scotland'}

s3 = pd.Series(sports) #Creating Series using dictionary, it will take Key values as index
print(s3)

cricket     England
Hockey        India
Golf       Scotland
dtype: object

In [20]:
s3 = pd.Series(sports, index = ['cricket',2,3] )
#it will replace the dictionary key values with new index value & values might become NaN
print(s3)

cricket    England
2              NaN
3              NaN
dtype: object

Querying the Series

In [31]:
sports = {'cricket': 'England', 'Hockey': 'India', 'Golf': 'Scotland'}

s3 = pd.Series(sports)
print(s3)

s3.iloc [2] #pass the index position

cricket     England
Hockey        India
Golf       Scotland
dtype: object

'Scotland'

In [32]:
s3.loc['cricket'] # pass the index value

'England'

In [33]:
s3[0] #It returns the 0th position value like, it do in array.

'England'

In [42]:
numbers = [1,2,3,4]
s1 = pd.Series(numbers, index=range(2,6))
print(s1)
print(s1.iloc[2])
print(s1.loc[2])
s1[0] #ideally it has to return the 0th position value like it do in array
#It throws error because it contains integer index,creating the confusion of,0 is value or index
#Hence it won't work in all cases.

2    1
3    2
4    3
5    4
dtype: int64
3
1

KeyError: 0

Performing arithmetic operations on Series

In [43]:
s = pd.Series ([100.0, 200.34, 456.32, 56.39])
print(s)

0    100.00
1    200.34
2    456.32
3     56.39
dtype: float64

In [44]:
#Total
total =0
for num in s:
    total += num
print(total)

813.0500000000001

In [46]:
import numpy as np
total = np.sum(s)
print(total)

813.0500000000001

In [47]:
s = pd.Series(np.random.randint(0,1000,10000)) #creating Series using random integer values
s.head()

0    292
1    633
2    196
3     30
4    373
dtype: int32

In [48]:
len(s)

10000

In [49]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

3.08 ms ± 60.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [50]:
%%timeit -n 100
summary = np.sum(s)

487 µs ± 66.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [51]:
#broadcasting

s+=2
s.head()

0    294
1    635
2    198
3     32
4    375
dtype: int32

In [56]:
for lab, val in s.iteritems():
    s.set_value(lab, val+2)
    
print(s.head())

C:\Users\SEKAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    298
1    639
2    202
3     36
4    379
dtype: int32

In [64]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,100))
for lab, value in s.iteritems():
    s.loc[lab]= value+2

32.6 ms ± 389 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [65]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,100))
s+=2

605 µs ± 21.5 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [68]:
sports = {'Archery': 'Bhutan', 'Golf': 'Scotland', 'Hockey': 'India'}
s = pd.Series (sports)
print(s)
cricket_loving_countries=pd.Series(['Australia', 'Pakistan', 'Srilanka', 'India'], 
                                   index=['Cricket', 'Cricket','Cricket','Cricket'])
print(cricket_loving_countries)

all_countries=s.append(cricket_loving_countries) # it will append at the end of another Series

print(all_countries)

Archery      Bhutan
Golf       Scotland
Hockey        India
dtype: object
Cricket    Australia
Cricket     Pakistan
Cricket     Srilanka
Cricket        India
dtype: object
Archery       Bhutan
Golf        Scotland
Hockey         India
Cricket    Australia
Cricket     Pakistan
Cricket     Srilanka
Cricket        India
dtype: object